# Bibliotecas principais
streamlit
pandas
numpy
plotly
altair
matplotlib
Pillow
requests

# Folium e suporte para mapas
folium
streamlit-folium
branca
graphviz

# Player de vídeos e outros componentes
streamlit-player

# Outros (se usados)
plotly-express
typing-extensions
