# Bibliotecas principais
streamlit
pandas
numpy
plotly
altair
matplotlib
Pillow
inflection

# Folium e suporte para mapas
folium
streamlit-folium



# Player de vídeos e outros componentes
streamlit-player

# Outros (se usados)
plotly-express

